html {
    height: 100%;
}

body {
    text-align: center;
    margin: 0; 
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-family: "Exo 2", Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

.bold {
    font-weight: 700;
}

#game-window {
    min-height: 170px;
}

#scores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

#btns {
    display: flex;
    gap: 10px;
}

#game-info {
    display: flex;
    flex-direction: column;
    min-height: 180px;
    gap: 30px;
}

#results {
    margin: 10px;
}

.buttons {
    background-color: #555555; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.6s;
}

.buttons:hover {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
